.emoji-table {
  width    : 100%;
  font-size: 50px;
}

.emoji-table tr {
  height: 100px;
}

.emoji {
  cursor: pointer;
}

#chat-bubbles {
  position: fixed;
  left    : 15px;
  bottom  : 50px;
   width   : calc(100% - 30px);
}

.chat-bubble {
  font-size : 50px;
  text-align: center;
}

#chat-button {
  position        : fixed;
  bottom          : 15px;
  left            : 15px;
  width           : calc(100% - 30px);
}
